body{
    margin: 0;
    overflow: hidden;
}
.canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #000;
}
.dn{
    display: none;
}
#select-speed{
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000;
}